{% load static i18n %}

<!DOCTYPE html>
<!--pre_ _  __
   ( | )/_/
__( >O< )
\_\(_|_) lbtf
-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        locbtf
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="first sample of lbtf site" />
    <meta name="author" content="ar73m aka partydude" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<![endif]-->
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    {% block css %}
      <!-- Latest compiled and minified Bootstrap CSS -->
      <!--link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"-->
      <!-- Your stuff: Third-party CSS libraries go here -->
      <!-- Compiled and minified CSS materializecss OF MINE -->
      <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" />
      <!-- This file stores project-specific CSS -->
      <link href="{% static 'css/mainstyle.css' %}" rel="stylesheet" />
      <link href="{% static 'css/project.css' %}" rel="stylesheet" />
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS and its dependencies-->
      <!-- Your stuff: Third-party javascript libraries go here -->
      <!-- Compiled and minified JavaScript -->
      <script defer src="{% static 'js/materialize.min.js' %}"></script>
      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </head>
  <body>
    <!-- MYYYŸYYYYYYYYYYYYYYYYYYYYY -->
    <header class="main-page-wraper">
      <!-- NAVBAR -->
      <nav id="mainNav" class="grey lighten-5 black-text z-depth-0">
        <div class="nav-wraper container">
          <ul class="brand-logo black-text">
            <li>
              <a id="main-logo" href="/" class="black-text">
                <pre id="main-logo-pre" class="gradient-text" style="font-family: Fixed, Lucida Console, Andale Mono, Courier New, Courier, monospace; font-size: 7pt; line-height: 110%; letter-spacing: 0pt; margin: 0px; overflow: visible;">
 _ _     _    __
| | |__ | |_ / _|
| | '_ \| __| |_
| | |_) | |_|  _|
|_|_.__/ \__|_|
</pre></a>
              </li>
            </ul>
            <!-- Left -->
            <ul id="nav-mobile-left" class="left">
              {% if request.user.is_authenticated %}
                <li>
                  <a href="{% url 'profiles:my-profile-view' %}"
                     class="btn-flat black-text fireside-left"><span class="hide-on-small-only">my profile</span><i class="material-icons left ">account_circle</i></a>
                </li>
                <li>
                  <a href="{% url 'account_logout' %}" class="btn-flat black-text">{% translate "Sign Out" %}</a>
                </li>
              {% else %}
                <li>
                  <a href="{% url 'account_login' %}"
                     class="btn-flat black-text modal-trigger"
                     id="register"><span class="hide-on-small-only">LOGIN</span><i class="material-icons left">perm_identity</i></a>
                </li>
                {# URL provided by django-allauth/account/urls.py #}
                <li>
                  <a href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
                </li>
                <li>
                  <a href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                </li>
              {% endif %}
            </ul>
            <!-- Right -->
            <ul id="nav-mobile-right" class="right">
              <li>
                <a href="#" class="btn btn-flat btn-small fireside-right"><i class="material-icons right">menu</i><span class="hide-on-small-only">menu</span></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </nav>
</header>
<div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}
</div>
<!-- /container -->
{% block content %}
{% endblock content %}
<!--Footer-->
<footer class="page-footer white black-text lighten-3 center-align">
  Feel free to catch me via mail <i class="material-icons material-icons-bott">email</i> <a href="mailto:art.kuleshov@gmai.com">art.kuleshov@gmail.com</a> or telegram <i class="material-icons material-icons-bott">send</i> <a href="https://telegram.me/partydude">@partydude</a>  © <noscript>2020</noscript><script type="text/javascript">
  document.write(new Date().getFullYear());
</script>
  <p></p>
</footer>
<!--/.Footer-->
<!--  Scripts-->
<!--script src="https://code.jquery.com/jquery-2.1.1.min.js"></script -->
<!--script src="../../bin/materialize.js"></script -->
{% block modal %}
{% endblock modal %}
{% block inline_javascript %}
  {# Script tags with only code, no src (defer by default) #}
{% endblock inline_javascript %}
</body>
</html>
